.login-container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}


.card{
    padding: 40px;
    width: 420px;
}
@media screen and (max-width:768px) {
    .card{
        border: 0;
    }
}

.heading{
    font-family: "Bree Serif";
    font-size: 26px;
}

.image{
    height: 50vh;
}
@media screen and (max-width:768px) {
    .image{
        display: none;
    }
}