.update-add-product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100%;
    overflow: auto;
  }

  .card{
    width: 50%;
  }
  @media screen and (max-width:768px) {
    .card{
        width: 90%;
    }
  }

  .back-button{
    width: 50%;
  }
  @media screen and (max-width:768px) {
    .back-button{
        width: 90%;
    }
  } 