.container{
    overflow: auto;
    height: 90vh;
}

  .details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .buttons-container{
    display: flex;
    gap: 10px;
  }